*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-icons: #929292;
    --clr-text: #fff;
    --clr-bg-dark: #242424;
    --clr-bg-light: #3b3b3b;
    --clr-accent: #ff7600;
  }

body{
    margin: 1em;
    background-color: var(--clr-bg-dark);
    color: var(--clr-text);
    line-height: 1.5;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

.btn{
    cursor: pointer;
    border: 0;
    background: transparent;
    color: var(--clr-text);
    font-size: 1.15;
    padding: 0.5em;
    display: inline-block;
    position: relative;
}

.btn::after{
    content: '';
    position: absolute;
    background: var(--clr-accent);
    height: 0.85em;
    width: 75%;
    left: 0;
    top: 50%;
    z-index: -1;
    transition: transform 250ms ease;
    transform-origin: bottom left;
}

.btn:hover::after,
.btn:focus::after {
  transform: scale(1.35, 1.85);
}

.title{
    color: var(--clr-accent);
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    font-size: clamp(3rem, 10vw, 7rem);
}

.location{
    color: var(--clr-icons);
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 1.5em;
}

header{
    display: flex;
    align-items: center;
    margin: 2em 0;
}

footer{
    margin-top: 2em;
}

.nav{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

.nav__link{
    color: var(--clr-text);
    text-transform: capitalize;
    text-decoration: none;
}

.secondary-images{
    display: flex;
    gap: 0.5em;
}